.entertainment {
    padding: 1.7rem;
}

.entertainment__advertising-first {
    display: none;
}

.entertainment__advertising-second {
    margin-bottom: 1.5rem;
}

.entertainment__advertising-second-img {
    width: 100%;
    height: 18.4rem;
}

.entertainment__form-newsletter-content {
    background: #f3edef;
    padding: 1.7rem;
    margin-bottom: 2rem;
    border-radius: 16px;
}

.entertainment__form-tittle {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.4rem;
}

.entertainment__form-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: #f70f68;
    margin-bottom: 2.5rem;
}

.entertainment__form-input-email-content {
    text-align: center;
}

.entertainment__form-input-email {
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 46px;
    padding-left: 2rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.entertainment__form-input-check {
    margin-right: 0.6rem;
    margin-bottom: 5rem;
    cursor: pointer;
}

.entertainment__label-form {
    font-size: 0.7rem;

}

.entertainment__span-form {
    color: #f70f68;
    cursor: pointer;
}

.entertainment__button-submit-form {
    width: 6.6rem;
    border: none;
    background: #f70f68;
    padding: 1.1rem 1rem;
    border-radius: 26px;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
}

.entertainment__articles-content-third {
    margin-top: -9.7rem;
    margin-bottom: 2rem;
}

.entertainment__articles-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1.5rem;
}

.entertainment__articles-small-img {
    width: 7rem;
    height: 6rem;
    border-radius: 16px;
    margin-right: 1rem;
}

.entertainment__tittles-small-article {
    font-size: 0.6rem;
    font-weight: 600;
    width: 4rem;
    padding: 0.3rem 0.4rem;
    text-align: center;
    color: #f70f68;
    background: #ffffff;
    border: 1px solid #f70f68;
    border-radius: 16pc;
    margin-bottom: 0.6rem;
}

.entertainment__text-article {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.entertainment__sports-small-screen {
    background: #ffffff;
    padding: 2rem 2rem 1.5rem 2rem;
    border-radius: 16px;
    margin-bottom: 1.5rem;
}

.entertainment__sports-small-screen-cup-img {
    width: 100%;
    margin-bottom: 1rem;
}

.entertainment__groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 8rem;
    margin: auto;
}

.entertainment__arrows-groups {
    color: #796e71;
    cursor: pointer;
}

#right-arrow {
    color: #f70f68;
}

.entertainment__sports-small-screen-text {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.entertainment__sports-small-screen-game-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.entertainment-sports-countries-small-screen {
    color: #796e71;
    font-weight: 300;
}

.entertainment__sports-small-screen-countries-flags {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 100%;
}

.entertainment__sports-small-screen-result {
    font-weight: bold;
}

.entertainment__separated-score {
    color: #796e71;
    font-weight: 200;
}

.entertainment__sports-small-screen-schedule {
    text-align: center;
    color: #796e71;
    font-size: 0.8rem;
    font-weight: 200;
}

.entertainment__sports-small-screen-slices-content {
    text-align: center;
    margin-top: 1.5rem;
}

.entertainment__sports-small-screen-slices {
    font-size: 1.2rem;
}

.entertainment__sports-big-screen {
    display: none;
}

.entertainment__games {
    display: none;
}

.entertainment__digital-newspaper-content {
    display: none;
}

.entertainment__orbi-digital-content {
background: linear-gradient(90deg, rgb(115, 28, 155) 0%, rgb(170, 68, 128) 35%, rgb(230, 45, 75) 100%);
border-radius: 16px;
margin-bottom: 0.8rem;
}

.entertainment__orbi-digital-img-logo-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4rem;
}

.entertainment__orbi-digital-img-logo {
    width: 2.3rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.entertainment__orbi-digital-img-tittle {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.entertainment__orbi-digital-img-tittle-letter {
    font-size: 2.3rem;
    font-weight: bold;
}

.entertainment__orbi-digital-img-content {
    text-align: center;
}

.entertainment__orbi-digital-img {
    width: 13.5rem;
    height: 16.5rem;
    border-radius: 2%;
    cursor: pointer;
}

.entertainment__horoscope {
    display: none;
}

.entertainment__webstories {
    display: none;
}

.entertainment__articles-first {
    display: none;
}

.entertainment__advertising-third {
    margin-bottom: 1rem;
}

.entertainment__advertising-third-img {
    width: 100%;
    height: 18.4rem;
    margin-top: 0.9rem;
}

.entertainment__advertising-first-img {
    width: 100%;
    height: 3.5rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

.entertainment__survey {
    display: none;
}

.entertainment__article {
    margin-top: -1rem;
}

.entertainment__img-article {
    margin-top: 1.5rem;
    width: 100%;
    height: 14.4rem;
    border-radius: 16px;
}

.entertainment__tag-btn-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    top: -14.6rem;  
}

.entertainment__tag-article-img {
    font-size: 0.6rem;
    font-weight: 200;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 16px;
    background: rgba(32, 27, 27, 0.6);
    color: #ffffff;
}

.entertainment__tag-article-img:hover {
    background: #f70f68;
}

.entertainment__btn-article-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 200;
    padding: 0.3rem 0.9rem;
    border: none;
    border-radius: 16px;
    background: #f70f68;
    color: #ffffff;
    cursor: pointer;
}

.entertainment__btn-article-img:hover {
    background: #000000;
}

.entertainment__btn-img {
    width: 0.9rem;
    margin-right: 0.4rem;
}

.entertainment__tittles-article {
    position: relative;
    top: -11.7rem;
    color: #ffffff;
    padding: 1rem;
}

.entertainment__tittle-secondary {
    font-size: 0.7rem;
    font-weight: 200;
    margin-bottom: 0.7rem;
}

.entertainment__bullet-point {
    color: #f70f68;
    font-size: 1rem;
}

.entertainment__tittle-primary {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.3rem;
}

.entertainment__music {
    display: none;
}

.entertainment__articles-second {
    display: none;
}

.entertainment__load-more-button-content {
    text-align: center;
    margin-bottom: 1rem;
}

.entertainment__load-more-button {
    background: #ffffff;
    border: 1px solid #f70f68;
    border-radius: 16px;
    font-size: 0.6rem;
    font-weight: 700;
    color: #f70f68;
    padding: 0.7rem 1rem;
    cursor: pointer;
}

@media (min-width: 360px) and (max-width: 425px) {}
@media (min-width: 1024px) {}




